// Place all the styles related to the vacation_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.badge.badge-warning {
  margin: 0 0 5px 5px;
  font-size: 90%;
}

#new_vacation_request {
  @media screen and (max-width: 576px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
